*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    color: #434343;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(../img/bkg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main.box{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 430px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

main.box .inputs{
    padding: 32px;
}

main.box .inputs input{
    border: none;
    height: 30px;
    padding: 10px;
    background: white;
}

main.box .inputs input:focus{
    outline: none;
}

main.box .but button{
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.4rem 2rem;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.3s;
}

#converte{
    background-color: #00972d;
}

#reset{
    background-color: rgb(230, 75, 28);
}

#converte:hover{
    background-color: #0fc546;
}

#reset:hover{
    background-color: rgb(255, 95, 46);
}